body{
    background-color: #d9d9d9;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;

}
.logo{
    width: 60px;
    padding: 10px;
}
.page-header{
    background-color: #4f92eb;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
}
.page-footer{
    background-color: #2b2b2b;
    color: #ffffff;
}
img{
    max-width: 100%;
    display: block;
  }
.site-navigation{
    display: flex;
    flex-direction: row;
  }
.site-navigation a{
    padding: 1em;
    text-decoration: none;
    color: black;
  }
.site-navigation a:hover{
    background-color: #d9d9d9;
}
.banner1 {
    background-color: #ffffff;
    min-height: 50vh;
    display: grid;
    place-items: center center;
    background-image: url("images/susan-q-yin-2JIvboGLeho-unsplash.jpg");
    background-size: cover;
    background-position: center -200px;
    background-repeat: no-repeat;
}
.banner2 {
    background-color: #ffffff;
    min-height: 50vh;
    display: grid;
    place-items: center center;
    background-image: url("images/lala-azizli-OFZUaeYKP3k-unsplash.jpg");
    background-size: cover;
    background-position: center -200px;
    background-repeat: no-repeat;
}
.banner3 {
    background-color: #ffffff;
    min-height: 50vh;
    display: grid;
    place-items: center center;
    background-image: url("images/edilson-borges-GSrgTVqS0dk-unsplash.jpg");
    background-size: cover;
    background-position: center -200px;
    background-repeat: no-repeat;
}
.banner4 {
    background-color: #ffffff;
    min-height: 50vh;
    display: grid;
    place-items: center center;
    background-image: url("images/jay-pVdiv_8oY_s-unsplash.jpg");
    background-size: cover;
    background-position: center -200px;
    background-repeat: no-repeat;
}
.banner-text {
    color: #4f92eb;
    font-size: 4em;
    text-shadow: 0px 0px 2px black;
}
.content {
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr; */
    grid-template-columns: repeat(2, 1fr);
    column-gap: 3ch;
    row-gap: 2ch;
    max-width: 1200px;
    padding: 1em;
    margin: 5ch auto; 
}
.card-image {
    aspect-ratio: 4/3;
    object-fit: cover;
    object-position: center;
}
.card {
    border: solid 1px #2b2b2b;
    border-radius: 1ch;
    overflow: hidden;
}
.card-content {
    padding: 2ch;
}
.card-content a{
    color: #2b2b2b;
    text-decoration:none;
}
.social {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3ch;
    margin-top: 2ch;
}
.social a {
    font-size: 2em;
    color: #ffffff
}
.home{
    background-color: #d9d9d9;
}
.self-improvement{
    background-color: #d9d9d9;
}
.thriller{
    background-color: #d9d9d9;
}
.fantasy{
    background-color: #d9d9d9;
}
.sale{
    background-color: #d9d9d9;
}
.copyright {
    text-align: center;
}
#contact-form {
    max-width: 600px;
    margin: 12ch auto;
}
#contact-form > label {
    display: block;
    font-weight: 500;
}
#contact-form .input {
    display: block;
    width: 100%;
    margin-bottom: 2ch;
    border: solid #2b2b2b 1px;
    padding: 1ch;
    border-radius: 0.5em;
}
#contact-form .input:focus {
    background-color: #d9d9d9;
    outline: dotted;
}
.radiobuttons > label {
    display: inline-block;
}
.submit{
    background-color: #4f92eb;
    min-width: 12ch;
}